# Análise de clusters de usuários

In [4]:
import os

import pandas as pd
from UbmgAssemble import centroids_to_matrix

In [10]:
n_clusters = 4
clusters = []

for i in range(n_clusters):
    clusters.append(pd.read_csv('./ubmg-data/dataframe/users-cluster-' + str(i) + '.tsv', sep='\t'))

In [11]:
clusters[0].describe()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,0-0,0-1,0-2,1-0,1-1,1-2,2-0,2-1,2-2,labels
count,2230.000000,2230.000000,2230.0,2230.000000,2230.000000,2230.000000,2230.000000,2230.000000,2230.000000,2230.000000,2230.000000,2230.000000,2230.0
mean,8258.604036,8258.604036,0.0,0.882874,0.032888,0.064956,0.208219,0.623701,0.123685,0.168101,0.035228,0.796670,0.0
std,1829.140233,1829.140233,0.0,0.187553,0.085149,0.111381,0.263792,0.324649,0.199831,0.144828,0.071857,0.149940,0.0
min,4526.000000,4526.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.0
25%,6813.250000,6813.250000,0.0,0.879168,0.000000,0.010309,0.022461,0.500000,0.000000,0.047619,0.000000,0.680000,0.0
50%,8137.500000,8137.500000,0.0,0.944444,0.007667,0.031250,0.107143,0.750000,0.038462,0.133333,0.000000,0.827586,0.0
75%,9845.750000,9845.750000,0.0,0.972810,0.034409,0.069942,0.285714,0.888889,0.159222,0.263158,0.037975,0.916667,0.0
max,11691.000000,11691.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.800000,0.500000,1.000000,0.0

In [12]:
clusters[1].describe()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,0-0,0-1,0-2,1-0,1-1,1-2,2-0,2-1,2-2,labels
count,3234.000000,3234.000000,3234.0,3234.000000,3234.000000,3234.000000,3234.000000,3234.000000,3234.000000,3234.000000,3234.000000,3234.000000,3234.0
mean,7743.926407,7743.926407,0.0,0.974703,0.016097,0.009200,0.465956,0.487413,0.002104,0.024761,0.022847,0.069585,1.0
std,2778.890585,2778.890585,0.0,0.054453,0.042952,0.033670,0.397745,0.399026,0.022363,0.085965,0.137385,0.217785,0.0
min,74.000000,74.000000,0.0,0.555556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,5811.250000,5811.250000,0.0,0.972222,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
50%,8159.500000,8159.500000,0.0,1.000000,0.000000,0.000000,0.333333,0.500000,0.000000,0.000000,0.000000,0.000000,1.0
75%,10256.250000,10256.250000,0.0,1.000000,0.013514,0.000000,1.000000,0.888889,0.000000,0.000000,0.000000,0.000000,1.0
max,11692.000000,11692.000000,0.0,1.000000,0.444444,0.367347,1.000000,1.000000,0.500000,0.514286,1.000000,1.000000,1.0

In [13]:
clusters[2].describe()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,0-0,0-1,0-2,1-0,1-1,1-2,2-0,2-1,2-2,labels
count,1912.000000,1912.000000,1912.0,1912.000000,1912.000000,1912.000000,1912.000000,1912.000000,1912.000000,1912.000000,1912.000000,1912.000000,1912.0
mean,6562.475941,6562.475941,0.0,0.927090,0.026026,0.046884,0.493381,0.400137,0.052089,0.777643,0.018418,0.203938,2.0
std,2923.534307,2923.534307,0.0,0.075555,0.054721,0.051826,0.365684,0.346364,0.137348,0.223594,0.073806,0.216409,0.0
min,44.000000,44.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,2.0
25%,4225.750000,4225.750000,0.0,0.906977,0.000000,0.015385,0.166667,0.000000,0.000000,0.500000,0.000000,0.000000,2.0
50%,6515.000000,6515.000000,0.0,0.951829,0.007722,0.031250,0.500000,0.500000,0.000000,0.763889,0.000000,0.125000,2.0
75%,9250.250000,9250.250000,0.0,0.973684,0.030769,0.061303,1.000000,0.714286,0.013440,1.000000,0.000000,0.444444,2.0
max,11694.000000,11694.000000,0.0,1.000000,1.000000,0.388889,1.000000,0.994186,1.000000,1.000000,0.500000,0.541667,2.0

In [14]:
clusters[3].describe()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,0-0,0-1,0-2,1-0,1-1,1-2,2-0,2-1,2-2,labels
count,4319.000000,4319.000000,4319.0,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4319.0
mean,2864.706182,2864.706182,0.0,0.762225,0.058657,0.064971,0.123083,0.725050,0.118527,0.127853,0.069402,0.604782,3.0
std,2181.071392,2181.071392,0.0,0.319096,0.130780,0.113839,0.157304,0.294904,0.193266,0.149904,0.143066,0.345327,0.0
min,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
25%,1155.500000,1155.500000,0.0,0.761032,0.000000,0.000000,0.010363,0.600000,0.000000,0.000000,0.000000,0.476190,3.0
50%,2441.000000,2441.000000,0.0,0.900000,0.018519,0.025000,0.058824,0.842105,0.041667,0.074074,0.015686,0.733333,3.0
75%,4144.500000,4144.500000,0.0,0.954600,0.058824,0.081081,0.166667,0.937500,0.142857,0.214286,0.076923,0.875000,3.0
max,11693.000000,11693.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0

In [15]:
means_data = {
    'cluster': [],
    '0-0': [],
    '0-1': [],
    '0-2': [],
    '1-0': [],
    '1-1': [],
    '1-2': [],
    '2-0': [],
    '2-1': [],
    '2-2': [],
}

for i in range(len(clusters)):
    means_data['cluster'].append(i)
    for j in range(3):
        for k in range(3):
            means_data[str(j) + '-' + str(k)].append(clusters[i].describe()[str(j) + '-' + str(k)]['mean'])

In [16]:
centroids = pd.DataFrame(means_data)

centroids.head(n_clusters)

,cluster,0-0,0-1,0-2,1-0,1-1,1-2,2-0,2-1,2-2
0,0,0.882874,0.032888,0.064956,0.208219,0.623701,0.123685,0.168101,0.035228,0.796670
1,1,0.974703,0.016097,0.009200,0.465956,0.487413,0.002104,0.024761,0.022847,0.069585
2,2,0.927090,0.026026,0.046884,0.493381,0.400137,0.052089,0.777643,0.018418,0.203938
3,3,0.762225,0.058657,0.064971,0.123083,0.725050,0.118527,0.127853,0.069402,0.604782

In [17]:
if not os.path.exists('./ubmg-data/centroids/'):
    os.mkdir('./ubmg-data/centroids/')

centroids.to_csv('./ubmg-data/centroids/centroids-df.tsv', sep='\t')

In [18]:
centroids_to_matrix('./ubmg-data/centroids/centroids-df.tsv', './ubmg-data/centroids/', n_clusters)

Saving matrix 0
Saving matrix 1
Saving matrix 2
Saving matrix 3